.octopus__head {
  background-color: rgb(2, 2, 205);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.octopus__eye--letf {
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 1px;
  position: absolute;
  top: 9px;
  left: 9px;
}

.pupil--left {
  background-color: black;
  width: 2px;
  height: 2px;
  border-radius: 2%;
  position: absolute;
  top: 4px;
  left: 4px;
}

.octopus__eye--right {
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 1px;
  position: absolute;
  top: 9px;
  left: 28px;
}

.pupil--right {
  background-color: black;
  width: 2px;
  height: 2px;
  border-radius: 2%;
  position: absolute;
  top: 4px;
  left: 4px;
}

.octopus__mouth {
  background-color: black;
  width: 15px;
  height: 7px;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  left: 18px;
}

.ocotpus__mouth__tooth {
  background-color: white;
  width: 2px;
  height: 3px;
  position: absolute;
  top: 1px;
  left: 4px;
}

.octopus__mouth__tongue {
  background-color: red;
  width: 8px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  top: 5px;
  left: 4px;
}

.ocotpus__leg--1 {
  background-color: rgb(0, 0, 103);
  width: 6px;
  height: 70px;
  border-radius: 2px;
  position: absolute;
  top: 57px;
  left: 20px;
  z-index: 1;
  transform: rotate(20deg);
}

.ocotpus__shadow--leg1 {
  background-color: rgb(83, 83, 218);
  width: 2px;
  height: 60px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 4px;
}

.ocotpus__leg--2 {
  background-color: rgb(0, 0, 103);
  width: 6px;
  height: 70px;
  border-radius: 2px;
  position: absolute;
  top: 65px;
  left: 35px;
  z-index: 1;
  transform: rotate(11deg);
}

.ocotpus__shadow--leg2 {
  background-color: rgb(83, 83, 218);
  width: 2px;
  height: 60px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 4px;
}

.ocotpus__leg--3 {
  background-color: rgb(0, 0, 103);
  width: 6px;
  height: 70px;
  border-radius: 2px;
  position: absolute;
  top: 65px;
  left: 50px;
  z-index: 1;
  transform: rotate(3deg);
}

.ocotpus__shadow--leg3 {
  background-color: rgb(83, 83, 218);
  width: 2px;
  height: 60px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 4px;
}

.ocotpus__leg--4 {
  background-color: rgb(0, 0, 103);
  width: 6px;
  height: 70px;
  border-radius: 2px;
  position: absolute;
  top: 65px;
  left: 68px;
  z-index: 1;
  transform: rotate(-6deg);
}

.ocotpus__shadow--leg4 {
  background-color: rgb(83, 83, 218);
  width: 2px;
  height: 60px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 4px;
}

.ocotpus__leg--5 {
  background-color: rgb(2, 2, 205);
  width: 6px;
  height: 70px;
  border-radius: 2px;
  position: absolute;
  top: 66px;
  left: 27px;
  z-index: 2;
  transform: rotate(15deg);
}

.ocotpus__shadow--leg5 {
  background-color: rgb(83, 83, 218);
  width: 2px;
  height: 60px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 4px;
}

.ocotpus__leg--6 {
  background-color: rgb(2, 2, 205);
  width: 6px;
  height: 70px;
  border-radius: 2px;
  position: absolute;
  top: 70px;
  left: 42px;
  z-index: 2;
  transform: rotate(5deg);
}

.ocotpus__shadow--leg6 {
  background-color: rgb(83, 83, 218);
  width: 2px;
  height: 60px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 4px;
}

.ocotpus__leg--7 {
  background-color: rgb(2, 2, 205);
  width: 6px;
  height: 70px;
  border-radius: 2px;
  position: absolute;
  top: 70px;
  left: 60px;
  z-index: 2;
  transform: rotate(-6deg);
}

.ocotpus__shadow--leg7 {
  background-color: rgb(83, 83, 218);
  width: 2px;
  height: 60px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 4px;
}

.ocotpus__leg--8 {
  background-color: rgb(2, 2, 205);
  width: 6px;
  height: 70px;
  border-radius: 2px;
  position: absolute;
  top: 60px;
  left: 76px;
  z-index: 2;
  transform: rotate(-10deg);
}

.ocotpus__shadow--leg8 {
  background-color: rgb(83, 83, 218);
  width: 2px;
  height: 60px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 4px;
}
